.jumbotron_container {
    position: relative;
}

.image_movie {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.detail_movie {
    position: absolute;
    top: 40%;
}