.bannerDetail {
    position: relative;
    top: -90px;
    margin-bottom: 5rem;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}

.detail_wrapper {
    display: flex;
    justify-content: center;
}

.image_movie {
    width: 100%;
    height: 600px;
    background-size: cover;
}

.detail_movie {
    position: absolute;
    top: 14rem;
    color: white;
    width: 50%;
    line-height: 30px;
}

.secondary {
    color: rgb(236, 205, 203);
}

.trailer {
    border: 1px solid #f33f3f;
    background-color: #f33f3f;
    color: white;
    border-radius: 50px;
    padding: 12px;
    transition: 0.3s;

}

.stars {
    color: yellow;
}