.modal-body,
.modal-title,
.modal-footer {
    color: rgb(0, 0, 0) !important;
}

.modal-header .modal-title h4 {
    font-size: 12px;
}

.form-group {
    position: relative;

}

.icon {
    position: absolute;
    right: 1rem;
    top: 0.75rem;

}

#email,
#password {
    border-radius: 50%;
}

.buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttonLogin {
    display: inline-block;
    width: 100%;
    padding: 1px;
}

.auth-google {
    margin-left: 1rem;
}