body {
    font-family: Arial, Helvetica, sans-serif
}

:root {
    --color-white: #fff;
    --color-red: #f33f3f;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

/* Button */
.nav-link {
    display: flex;
}

.nav-link .buttonAuth {
    display: flex;
    margin-right: 22px;
}

.nav-link .auth {
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: normal;
    font-size: 14px;
    margin: 0 3px;
}

.nav-link .login {
    border: 1px solid var(--color-red);
    color: var(--color-red) !important;
    background-color: transparent;
}

.nav-link .login:hover {
    border: 1.5px solid var(--color-red);
    color: var(--color-red) !important;
    background: white;
}

.nav-link .regist {
    outline: none;
    border: none;
    color: var(--color-white) !important;
    background-color: var(--color-red) !important;
}

.navbar-nav .input-search {
    margin: 0 auto;
    border-radius: 100px;
    border: 0.5px solid rgb(212, 212, 212);
}

.navbar-nav .input {
    border-radius: 1rem;
    border: 1px solid #fff;
}

.input-search {
    border-radius: 40px;
    width: 100%;
    height: 2.1rem;
    padding: 10px 15px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent !important;
}

.input-search:hover {
    border: 1px solid red;
}

.input-search:focus Form.Control {
    outline: none;
    border: none !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.input-group:active {
    outline: none;
    border: none;
}

.input-search::placeholder {
    color: white !important;
    font-size: 14px;
}

/* Profil */
.profil .image {
    border-radius: 60%;
    margin-right: 10px;
}

.profil .logout {
    margin-left: 20px;
}