body {
    font-family: Arial, Helvetica, sans-serif
}

:root {
    --color-white: #fff;
    --color-red: #f33f3f;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

/* Button */
.nav-link .auth {
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: normal;
    font-size: 14px;
    margin: 0 3px;
}

.nav-link .login {
    border: 1px solid var(--color-red);
    color: var(--color-red);
    background-color: transparent;
}

.nav-link .login:hover {
    border: 1.5px solid var(--color-red);
    color: var(--color-red);
    background: white;
}

.nav-link .regist {
    outline: none;
    border: none;
    color: var(--color-white);
    background-color: var(--color-red);
}

.navbar-nav .input-search {
    margin: 0 auto;

    border-radius: 100px;
    /* width: 100%; */
    /* height: 2.1rem; */
    /* padding: 10px 15px; */
    border: 0.5px solid rgb(212, 212, 212);
}

.navbar-nav .input {
    border-radius: 1rem;
    border: 1px solid #fff;
}

.input-search {
    border-radius: 40px;
    width: 100%;
    height: 2.1rem;
    padding: 10px 15px;
    border: 1px solid rgb(243, 243, 243);
    background-color: transparent !important;
}

.input-search::placeholder {
    color: rgb(228, 228, 228) !important;
    font-size: 14px;
}