.form-group {
    position: relative;

}

#firstName,
#lastName,
#email,
#password,
#passwordConfirmation {
    border-radius: 50rem;
}

.icon {
    position: absolute;
    right: 1rem;
    top: 0.75rem;

}